    <nav class="navbar navbar-expand-lg navbar-light upper">
        <a class="navbar-brand" href="./">Finance Tracker</a>

        <!-- "Hamburger" menu for mobile site-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links to other pages -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" id="navTab1Chrt" href="./">Monthly Spending</a>
            <a class="nav-item nav-link active" id="navTab2Chrt" href="./chart">Monthly Summary<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" id="navTab3Chrt" href="./accounts">Account Balances</a>
          </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-lg-12 chart">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <main>

    </main>

    <!--JavaScript CDNs for Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    
    <!--Uncompressed jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <!--Chart.js-->
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        
        var rent; // week-rent
        var utilities; // week-utilities
        var food; // week-food
        var transportation; // week-transportation
        var entertainment; // week-entertainment
        var savings; // week-savings
        var misc; // week-misc
        var total; // week-total


        async function getData() {
            try {
                await $.get("/api/expenses", function(data) {

                    console.log(data[0].ex_amount);

                    rent = data[0].ex_amount;
                    utilities = data[1].ex_amount;
                    food = data[2].ex_amount;
                    transportation = data[3].ex_amount;
                    entertainment = data[4].ex_amount;
                    savings = data[5].ex_amount;
                    misc = data[6].ex_amount;
                });
            } catch (err) {
                console.log(err);
            }
        }

        async function createChart() {

            await getData();

            total = rent + utilities + food + transportation + entertainment + savings + misc;

            Chart.defaults.global.defaultFontColor = 'black';
            Chart.defaults.global.legend.display = false;
            Chart.defaults.global.defaultFontSize = 18;
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Rent', 'Utilities', 'Food', 'Transportation', 'Entertainment', 'Savings','Misc','Total'],
                    datasets: [{
                        label: '',
                        data: [rent,utilities,food,transportation,entertainment,savings,misc,total],
                        backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }                    
                }
            });
        }

        createChart();
       
    </script>